/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #003366, #000000);
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  padding: 20px;
}

.hero-content {
  margin-bottom: 60px;
}

.hero-title {
  font-size: 4.5rem;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  letter-spacing: -1.5px;
}

.hero-description {
  font-size: 1.6rem;
  margin-bottom: 40px;
  line-height: 1.8;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 1px solid transparent;
}

.btn-primary {
  background-color:  #fca311;
  color: #fff;
  border-color: black;
  background: linear-gradient(135deg, #fca311, #ff6700);
}

.btn-primary:hover {
 
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.btn-secondary {
  background-color:  #fca311;
  color: #fff;
  border-color: black;
  background: linear-gradient(135deg, #fca311, #ff6700);
}

.btn-secondary:hover {
  
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.card-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.card-link {
  display: inline-block;
  padding: 12px 24px;
  background-color:  #fca311;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: linear-gradient(135deg, #fca311, #ff6700);
  z-index: 2;
}

.card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
